<div class="header">
  <div class="profile">
    <img
      alt="Profile picture of a person"
      height="50"
      src="./assets/img/Ellipse 3.png"
      width="50"
    />
    <div class="profile-text">
      <h1>Welcome, Quang</h1>
      <p>Discover whatever you need easily</p>
    </div>
  </div>
  <div class="search-container">
    <div class="search-bar">
      <i class="fas fa-search"> </i>
      <input placeholder="Search product" type="text" />
    </div>
    <div class="filter-icon">
      <i class="fas fa-filter"> </i>
    </div>
  </div>
</div>
