<div class="card">
  <div style="position: relative;">
   <img alt="A bowl of ramen with eggs, shrimp, and vegetables" height="150" src="./assets/img/product1.png" width="250"/>
   <div class="cart-icon">
    <i class="fas fa-shopping-cart">
    </i>
   </div>
  </div>
  <h2>
   Almomd Brown Sugar Croissant
  </h2>
  <p>
   Sweet croissant with topping almods and brown sugar
  </p>
  <div>
   <span class="price">
    $12.98
   </span>
   <span class="pcs">
    / 3 pcs
   </span>
  </div>
 </div>



