<div class="sidebar">
    <img alt="Logo" height="40" src="https://storage.googleapis.com/a1aa/image/CIKsK6lxk6b3MBBDO80gCU6goTtYbYlaAXJaQWMbCLPRGVfJA.jpg" width="40"/>
    <div class="menu-item">
     <i class="fas fa-home">
     </i>
    </div>
    <div class="menu-item">
     <i class="fas fa-th-large">
     </i>
    </div>
    <div class="menu-item">
     <i class="fas fa-cog">
     </i>
    </div>
    <div class="menu-item">
     <i class="fas fa-sign-out-alt">
     </i>
    </div>
   </div>