.menu {
  display: flex;
  gap: 10px;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}
.menu-item.active {
  background-color: #ff6a00;
  color: #fff;
}
.menu-item i {
  margin-right: 10px;
}
.menu-item.active i {
  color: #fff;
}
.menu-item:hover {
  background-color: #e0e0e0;
}