<div class="menu">
  <div class="menu-item active">
    <i class="fas fa-utensils"></i>
    <span>All</span>
  </div>
  <div class="menu-item">
    <i class="fas fa-fire"></i>
    <span>Featured</span>
  </div>
  <div class="menu-item">
    <i class="fas fa-birthday-cake"></i>
    <span>Cake</span>
  </div>
  <div class="menu-item">
    <i class="fas fa-utensils"></i>
    <span>Salad and Others</span>
  </div>
  <div class="menu-item">
    <i class="fas fa-coffee"></i>
    <span>Drinks</span>
  </div>
</div>
