<div class="order-summary">
  <h2>Current Order</h2>
  <app-order-item> </app-order-item>
  <app-order-item> </app-order-item>
  <app-order-item> </app-order-item>
  <!-- <div class="totals">
     <div class="total-item">
      <div class="label">
       Subtotal
      </div>
      <div class="value">
       $37.61
      </div>
     </div>
     <div class="total-item">
      <div class="label">
       Discount sales
      </div>
      <div class="value">
       - $5.00
      </div>
     </div>
     <div class="total-item">
      <div class="label">
       Total sales tax
      </div>
      <div class="value">
       $2.25
      </div>
     </div>
     <div class="total-item total">
      <div class="label">
       Total
      </div>
      <div class="value">
       $37.61
      </div>
     </div>
    </div> -->
  <div style="margin-top: auto;" >
    <div class="receipt">
      <div class="section">
        <span>Subtotal</span>
        <span>$37.61</span>
      </div>
      <div class="section">
        <span>Discount sales</span>
        <span>$5.00</span>
      </div>
      <div class="section">
        <span>Total sales tax</span>
        <span>$2.25</span>
      </div>
      <div class="divider"></div>
      <div class="section total">
        <span>Total</span>
        <span>$37.61</span>
      </div>
    </div>
  </div>
  <div class="checkout">
    <button>Continue to Payment</button>
  </div>
</div>
